.destination-content{
    .left-side-content{
        width: 445px;
        margin-top: 97px;
        margin-right: 167px;
    }
    .right-side-content{
        width: 445px;
        margin-top: 64px;
        h2{
            margin-top: 37px;
            margin-bottom: 14px;
        }
        p{
            margin-bottom: 54px;
        }
        hr{
            border: 1px solid #383B4B;
        }
        .destination-facts{
            display: flex;
            margin-top: 28px;
            .distance{
                width: 143px;
                margin-right: 79px;
            }
            .subheading-2{
                margin-bottom: 12px;
            }
        }
        
    }
}