.navigation{
  background-size: cover;
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  padding-left: 4rem;
  height: fit-content;
  img {
    width: 48px;
    height: 48px;
    margin-right: 4rem;
  }
  hr {
    border: 1px solid rgba(white, 0.25);
    width: 473px;
    margin-right: -4rem;
  }
  .nav-links {
    height: 96px;
    width: 830px;
    padding: 2rem 0;
    background-color: rgba(white, 0.04);
    backdrop-filter: blur(40.7772px);
    ul {
      display: flex;
      align-items: center;
      li {
        font-family: 'Barlow Condensed' ,sans-serif ;
        text-transform: uppercase;
        font-weight: 400;
        color: white;
        padding: 0 48px;
        list-style-type: none;
        letter-spacing: 2.7px;
        font-size: 1rem;
        a {
          padding-bottom: 38px;
          color: white;
        }
        a:hover {
          border-bottom: 3px solid rgba(white, 0.5);
        }
      }
    }
    .nav-active {
      border-bottom: 3px solid white;
    }
    span {
      font-weight: 700;
    }
  }
}
