*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
}

h1{
    font-family: "Bellefair", serif;
    font-weight: 400;
    color: white;
    font-size: 150px;
    line-height: 172px;
    text-transform: uppercase;
}

h2{
    @extend h1;
    font-size: 100px;
    line-height: 114px;
}
h3{
    @extend h1;
    font-size: 56px;
    line-height: 64.18px;
}
h4{
    @extend h1;
    font-size: 32px;
    line-height: 36.67px;
}
h5{
    @extend h1;
    font-size: 28px;
    line-height: 33.6px;
    letter-spacing: 4.72px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #d0d6f9;
}

.subheading-1{
    @extend h1;
    font-size: 28px;
    line-height: 32px;
}
.subheading-2{
    @extend h5;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 2.36px;
}

p{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: white;
    line-height: 32px;
}


button{
    cursor: pointer;
    border: none;
    text-transform: uppercase;
}
section{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: fit-content;
   

}

