@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

$dark-color:#0b0d17;
$light-blue-color: #d0d6f9;
$white:white;
$primary-font:'Bellefair', serif;
$secondary-font:'Barlow', sans-serif;
$tetriary-font: 'Barlow Condensed', sans-serif;

