
// Heading Styles


// Navstyle




a {
    color: $white;
    text-decoration: none;
}













.crew-page-content{
    .left-side-content{
        
        margin-right: 81px;
        margin-bottom: 94px;
        h5{
            margin-bottom: 154px;
        }
       
    }
    .right-side-content{
        margin-top: 14px;
        max-width: 568px;
        height: 100%;
        img{
            object-fit: contain;
        }
    }
}

.crew-nav{
    ul{
        justify-content: flex-start;
    }
    li{
        padding: 0;
        padding-right: 24px;
        
    }
    
}

.crew-nav-btn{
    cursor: pointer;
   
}
.crew-nav-btn:hover{
    background-color: rgba($white,0.5);
}

.active{
    background-color: $white;
}



.home-button{
    @extend button;
    
}
