
// Heading Styles


// Navstyle




a {
    color: $white;
    text-decoration: none;
}













.crew-page-content{
    .left-side-content{
        margin-top: 28px;
        margin-right: 81px;
        margin-bottom: 94px;
        h5{
            margin-bottom: 154px;
        }
        h4{
            margin-bottom: 15px;
            width: 448px;
        }
        h3{
            margin-bottom: 27px;
        }
        p{
            margin-bottom: 120px;
            color: $light-blue-color;
            width: 444px;
        }
    }
    .right-side-content{
        margin-top: 14px;
        max-width: 568px;
        height: 100%;
        img{
            object-fit: contain;
        }
    }
}

.crew-nav{
    ul{
        justify-content: flex-start;
    }
    li{
        padding: 0;
        padding-right: 24px;
        
    }
    
}

.crew-nav-btn{
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba($white,0.17);
}
.crew-nav-btn:hover{
    background-color: rgba($white,0.5);
}

.active{
    background-color: $white;
}



.home-button{
    @extend button;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $white;
    letter-spacing: 2px;
    font-size: 32px;
    font-family: $primary-font;
}
