@import 'config';
@import 'utilities';

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $primary-font;
    overflow: hidden;
}













.tech-page-content{
    margin-top: 26px;

}

.tech-nav{
    margin-top: 111px;
    width: 80px;
    margin-right: 80px;
    ul{
        flex-direction: column;
    }
    li{
        margin-bottom: 2rem;
        padding: 0;
    }
    
    
}
.tech-nav-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.tech-nav-btn:hover{
   border:1px solid $white;
}


.active-2{
    background-color: $white;
    color:$dark-color
}



.tech-info {
    margin-top: 111px;
    width: 470px;
    margin-right: 130px;
    h5{
        margin-bottom: 11px;
    }
    h3{
        margin-bottom: 17px;
    }
    p{
        color: $light-blue-color;
        max-width: 444px;
    }
}
.tech-img{
    width: 515px;
}